NEXT_PUBLIC_SUPABASE_URL=https://xjlspfanyuzvsrsnyvnk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqbHNwZmFueXV6dnNyc255dm5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NzU4MzUsImV4cCI6MjA5MjA1MTgzNX0.NCK4Eifzh3qQ4on0yGfQg-N9APf0X9ESjx0UI9OmAVk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqbHNwZmFueXV6dnNyc255dm5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQ3NTgzNSwiZXhwIjoyMDkyMDUxODM1fQ.Yl9qD3_CIkyz7Kwf7ukHGzxVg7p25hSCzADLuRndUiw
RAZORPAY_KEY_ID=rzp_test_SeusduIIikl3bF
RAZORPAY_KEY_SECRET=hUd5AqIA4WN0JUgvV7zssrwp
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
NEXT_PUBLIC_APP_URL=http://localhost:3000
